html,
body{
    min-height: 100%;
}

#__next,
.ant-layout {
    min-height: 100vh;
}

.ant-layout-content {
    display: flex;
    flex-grow: 1;
    background: #fff;
    min-height: calc(100vh - 128px);
}

.ant-layout-header {
    padding-left: 0;
    padding-right: 0
}

.ant-layout-footer{
    padding:0;
    height: 64px;
    display: flex;
    align-items: center;
}
