#__next,
.ant-layout {
    height: 100%;
}

.ant-layout-content {
    min-height: calc(100% - 148px);
    background: #fff;
}

.ant-layout-header {
    padding-left: 0;
    padding-right: 0
}

.ant-layout-footer{
    padding:0;
    height: 64px;
    display: flex;
    align-items: center;
}